header
  a(href='http://github.com/hamin', target='_blank')
    img#logo(src='/images/kyatchi-logo.png', alt='Kyatchi - Catch the Mail!')
  h1 
    a(href='http://github.com/hamin', target ='_blank') Kyatchi
  nav.app
    ul
      li.clear 
        a(href='#', target ='Clear all messages') Clear
nav#messages
        table
          thead
            th From
            th To
            th Subject
            th Received
          tbody
article#message
  header
    dl.metadata
      dt.created_at Received
      dd.created_at
      dt.from From
      dd.from
      dt.to To
      dd.to
      dt.subject Subject
      dd.subject
      dt.attachments Attachments
      dd.attachments
        ul
    nav.views
      ul
        li.format.tab.html.selected(data-message-format='html') HTML
        li.format.tab.plain(data-message-format='plain') Plain Text
        li.format.tab.source(data-message-format='source') Source
        li.button.download
          form.download(action="/download", method="post")
            input(type="text", name="message-id", value="foo")
            input(type="textarea", name="email")
          a(href='#')                                                   
            span Download
  div.body