header
  h1 
    a(href='http://github.com/hamin', target ='_blank') Kyatchi
  nav.app
    ul
      li.clear 
        a(href='#', target ='Clear all messages') Clear
      li.quit 
        a(href='#', target ='Quit Kyatchi') Quit
nav#messages
        table
          thead
            th From
            th To
            th Subject
            th Received
          tbody
article#message
  header
    dl.metadata
      dt.created_at Received
      dd.created_at
      dt.from From
      dd.from
      dt.to To
      dd.to
      dt.subject Subject
      dd.subject
      dt.attachments Attachments
      dd.attachments
        ul
    nav.views
      ul
        li.format.tab.html.selected(data-message-format='html') HTML
        li.format.tab.plain(data-message-format='plain') Plain Text
        li.format.tab.source(data-message-format='source') Source
        li.button.download
          a(href='#')                                                   
            span Download
          
:coffeescript
  client = new Faye.Client("http://127.0.0.1:1080/kyatchi")
  allMessages = []
  messageCount = 0
  
  currentEmail = client.subscribe '/current_email', (message) ->
    allMessages.push(message)
    messageCount += 1
    console.log message
    $('#messages tbody').append \
      $('<tr />').attr('data-message-id', messageCount)
        .append($('<td/>').text(message.from))
        .append($('<td/>').text(message.to))
        .append($('<td/>').text(message.subject))
        .append($('<td/>').text(message.created_at))
  
  $('#messages tr').live 'click', (e) =>
    selectedId = $(e.currentTarget).attr('data-message-id')
    selectedIndex = selectedId - 1
    $('#messages tbody tr:not([data-message-id="'+selectedId+'"])').removeClass 'selected'
    $('#messages tbody tr[data-message-id="'+selectedId+'"]').addClass 'selected'
    
    $('#message .metadata dd.created_at').text allMessages[selectedIndex].created_at
    $('#message .metadata dd.from').text allMessages[selectedIndex].from
    $('#message .metadata dd.to').text allMessages[selectedIndex].to
    $('#message .metadata dd.subject').text allMessages[selectedIndex].subject
        
